<div data-component="quote-submit">
  <form data-component="quote-form" (ngSubmit)="submit()">
    <h2>Submit a Quote</h2>
    <div class="input-group">
      <label for="quoteText">Quote</label>
      <textarea id="quoteText" [(ngModel)]="text" name="text" placeholder="Enter your quote..."></textarea>
    </div>
    <div class="input-group">
      <label for="quoteAuthor">Author</label>
      <input id="quoteAuthor" [(ngModel)]="author" name="author" placeholder="Enter the author..." />
    </div>
    <button class="button button--gradient" type="submit">Submit Quote</button>
  </form>
  <app-pending-quotes></app-pending-quotes>
</div>

